* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f0f1a;
}

#root {
  width: 100%;
  max-width: 100%;
  text-align: left;
  border: none;
  min-height: 100vh;
}

input::placeholder {
  color: rgba(255,255,255,0.3);
}